<html>
<head>
	<title>Inicio - Kiosko A Diario</title>
	<link rel="stylesheet" href="estilos.css">
	<script src="./script.js"></script>
</head>
<body>
	<div class="fondo-mate">
        <%- include('partials/portada.html')%>
        <%- include('partials/navegacion.html')%>
		<div class="noticias">
            <div class="noticia" data-nro="1">
                <div class="noticia-head">
                    <h1>Inicio</h1>
                </div>
                <div class="noticia-content">
                    <h2>
                       ¡Bienvenido a Kiosco A-Diario!
                    </h2>
                    <p>
                    	En este sitio podrá leer las noticias más recientes de distintas fuentes. Así mismo podrá ver un top de los articulos más leídos.
                    </p>
                    <img src="imagenes/home/guy-laptop.png" alt="caricatura de hombre leyendo en su laptop" style="width: 150px">
                </div>
            </div>
        </div>
		<footer class="pie">Derechos Reservados. 2020.</footer>
	</div><!-- /FONDO MATE -->
</body>
</html>