<div class="cajita">
    <h2>Kiosko</h2>
    <h1>A-Diario</h1>
    <p>Un sitio donde se pueden leer diarios</p>
</div>

<div class="navegacion">
    <p class="title">Navegación</p>
    <div class="menu">
        <div class="menu-item seleccionado">
            <a href="home.html">INICIO</a>
        </div>
        <div class="menu-item">
            <a href="19-10-2020.html">Lunes 19/10</a>
        </div>
        <div class="menu-item">
            <a href="20-10-2020.html">Martes 20/10</a>
        </div>
        <div class="menu-item">
            <a href="21-10-2020.html">Miércoles 21/10</a>
        </div>
        <div class="menu-item">
            <a href="22-10-2020.html">Jueves 22/10</a>
        </div>
        <div class="menu-item">
            <a href="23-10-2020.html">Viernes 23/10</a>
        </div>
        <div class="menu-item">
            <a href="24-10-2020.html">Sábado 24/10</a>
        </div>
        <div class="menu-item">
            <a href="25-10-2020.html">Domingo 25/10</a>
        </div>
        <div class="menu-item">
            <a href="26-10-2020.html">Lunes 26/10</a>
        </div>
        <div class="menu-item">
            <a href="27-10-2020.html">Martes 27/10</a>
        </div>
        <div class="menu-item">
            <a href="28-10-2020.html">Miércoles 28/10</a>
        </div>
    </div>
</div>