<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilos.css" />
    <title>Noticias</title>
</head>

<body>
    <button id="up-button">&#916;</button>
    <div class="fondo-mate">
        <div class="cajita">
            <h2>Kiosko</h2>
            <h1>A-Diario</h1>
            <p>Un sitio donde se pueden leer diarios</p>
        </div>
        <div class="navegacion">
            <p class="title">Navegación</p>
            <div class="menu">
                <div class="menu-item">
                    <a href="home.html">INICIO</a>
                </div>
                <div class="menu-item">
                    <a href="lunes 19-10-2020.html">Lunes 19/10</a>
                </div>
                <div class="menu-item seleccionado">
                    <a href="#" onclick="obtenerNoticiasDelDia(2)">Martes 20/10</a>
                </div>
                <div class="menu-item">
                    <a href="miercoles 21-10-2020.html">Miércoles 21/10</a>
                </div>
                <div class="menu-item">
                    <a href="jueves 22-10-2020.html">Jueves 22/10</a>
                </div>
                <div class="menu-item">
                    <a href="viernes 23-10-2020.html">Viernes 23/10</a>
                </div>
                <div class="menu-item">
                    <a href="sabado 24-10-2020.html">Sábado 24/10</a>
                </div>
                <div class="menu-item">
                    <a href="domingo 25-10-2020.html">Domingo 25/10</a>
                </div>
                <div class="menu-item">
                    <a href="lunes 26-10-2020.html">Lunes 26/10</a>
                </div>
                <div class="menu-item">
                    <a href="martes 27-10-2020.html">Martes 27/10</a>
                </div>
                <div class="menu-item">
                    <a href="miercoles 28-10-2020.html">Miércoles 28/10</a>
                </div>
            </div>
        </div>
        <div class="tabla-noticias-container">
            <table class="tabla-noticias">
                <thead>
                    <th>Más Leídas del (Ingresar Día)</th>
                    <th>Visitas</th>
                </thead>
                <tbody>
                    <tr>
                        <td data-nro="1">Nombre noticia 1</td>
                        <td>1650</td>
                    </tr>
                    <tr>
                        <td data-nro="2">Nombre noticia 2</td>
                        <td>1353</td>
                    </tr>
                    <tr>
                        <td data-nro="3">Nombre noticia 3</td>
                        <td>1252</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button id="me" onclick="obtenerNoticia()">Nueva Noticia Vacia</button>
        <div id="main-noticias-container" class="noticias">
        </div>
        <footer class="pie">Derechos Reservados. 2020.</footer>
    </div><!-- /FONDO MATE -->
</body>
<script src="js/scroller.js"></script>
<script>
    const obtenerNoticiasDelDia = async (dia) => {
        let noticiasObtenidas = await fetch('http://localhost:5000/noticias/dia/'+dia);
        console.log(noticiasObtenidas);
        let resultados = await noticiasObtenidas.json();
        console.log(resultados);
        resultados = await resultados.resultado;
        console.log(resultados);
        resultados.forEach((noticia) => {
            crearNoticia(noticia);
        });
    }


    const crearNoticia = ({ titulo, subtitulo, contenido, img }) => {
        const newNoticia = document.createElement("div");
        newNoticia.className = "noticia";
        const noticiaHead = document.createElement("div");
        noticiaHead.className = "noticia-head";
        const noticiaHeadCategoria = document.createElement("p");
        noticiaHeadCategoria.className = "noticia-categoria";
        noticiaHeadCategoria.appendChild(document.createTextNode('Example Category'));
        const noticiaHeadH1 = document.createElement("h1");
        noticiaHeadH1.appendChild(document.createTextNode(titulo));
        const noticiaHeadH2 = document.createElement("h2");
        noticiaHeadH2.appendChild(document.createTextNode(subtitulo));
        noticiaHead.appendChild(noticiaHeadCategoria);
        noticiaHead.appendChild(noticiaHeadH1);
        noticiaHead.appendChild(noticiaHeadH2);
        newNoticia.appendChild(noticiaHead);

        const noticiaContent = document.createElement("div");
        noticiaContent.className = "noticia-content";
        const noticiaContentImg = document.createElement("img");
        noticiaContentImg.setAttribute('alt', img);
        const noticiaContentP = document.createElement("p");
        noticiaContentP.appendChild(document.createTextNode(contenido));
        noticiaContent.appendChild(noticiaContentImg);
        noticiaContent.appendChild(noticiaContentP);
        newNoticia.appendChild(noticiaContent);

        document.getElementById('main-noticias-container').appendChild(newNoticia);
    }
</script>

</html>